registry=https://registry.npmmirror.com

electron_mirror=https://registry.npmmirror.com/-/binary/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

@raina:registry=https://gitlab.raina.tech/api/v4/packages/npm/
//gitlab.raina.tech/api/v4/packages/npm/:_authToken=Gym8ZgJzRcGgPgbo1Dng
strict-ssl=false

