.files-window {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #17191b;

  .files-container {
    height: calc(100% - 40px);
    margin: 2px;
    padding: 12px;
    background-color: #202224;
    display: flex;
    flex-direction: column;

    .files-title {
      font-size: 14px;
      color: rgba(241, 243, 255, 0.6);
    }

    .files-content {
      margin: 8px 0;
      background: #17191b;
      border-radius: 4px;
      border: 1px solid #313337;
      flex: 1;
      overflow: auto;
      padding: 8px;

      .remove-btn {
        width: 10px;
        height: 10px;
        color: #797b82;
        opacity: 45%;
      }

      :global {
        .ant-list-item {
          width: 100% !important;
          height: 22px !important;
          margin-bottom: 8px;
          font-size: 14px;
          color: rgba(241, 243, 255, 0.85);
          padding: 0 !important;
        }
      }
    }

    .add-btn {
      width: 100%;
      height: 32px;
      background-color: #202224;
      border-radius: 4px;
      border: 1px solid #424549;
      font-size: 14px;
      color: rgba(241, 243, 255, 0.85);
    }
  }

  .files-footer {
    margin: 6px 16px 0 0;
    margin-left: auto;

    .ok-btn {
      width: 45px;
      height: 24px;
      background-color: #1b56cb;
      font-size: 14px;
      color: rgba(241, 243, 255, 0.85);
      border: none;
      border-radius: 4px;
      margin-right: 8px;
    }

    .cancel-btn {
      width: 69px;
      height: 24px;
      background-color: #424549;
      font-size: 14px;
      color: rgba(241, 243, 255, 0.85);
      border: none;
      border-radius: 4px;
    }
  }
}
