.exit-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #17191b;

  .exit-content {
    height: calc(100% - 40px);
    background-color: #202224;
    margin: 2px;
    padding: 12px;
    display: flex;

    .exit-icon {
      width: 20px;
      height: 19px;
      margin-right: 14px;
    }
  }

  .exit-footer {
    margin-top: 6px;
    margin-left: 150px;

    .btn-style {
      margin-right: 8px;
      border-radius: 4px;
      font-size: 14px;
      color: rgba(241, 243, 255, 0.85);
      border: none;
      height: 24px !important;
    }

    .hide-btn {
      width: 95px !important;
      background-color: #424549;
    }

    .cancel-btn {
      width: 69px !important;
      background-color: #424549;
    }

    .exit-btn {
      width: 56px !important;
      background-color: #d89715;
    }
  }
}
