.custom-collapse {
  :global {
    .ant-collapse {
      background-color: #17191b !important;
      border-radius: 0 !important;

      .ant-collapse-item {
        border: none;
        margin-bottom: 2px;
      }
    }

    .ant-collapse-header {
      padding: 4px 12px !important;
      background-color: #282a2d;
    }

    .ant-collapse-content {
      padding: 12px 12px 4px 30px;
      background: #202224 !important;

      .ant-collapse-content-box {
        padding: 0 !important;
        padding-left: 18px;
      }
    }
  }
}
