.page {
  height: 100vh;
  display: flex;
  flex-direction: column;

  :global {
    .ant-splitter-bar-dragger::before {
      background-color: black !important;
    }
  }
}

.pathSummary-icon {
  width: 13px;
  height: 14px;
}
