.object-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2px;
  background: #17191b;

  .chooser-area {
    display: flex;
    width: 333px;
    height: 286px;
    margin-bottom: 8px;
  }

  .footer-btns {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;

    .ok-btn {
      width: 45px;
      height: 24px;
      background: #1b56cb;
      border-radius: 4px;
      margin-right: 8px;
    }

    .cancel-btn {
      width: 69px;
      height: 24px;
      background: #424549;
      border-radius: 4px;
      margin-right: 8px;
    }
  }
}
